.banner {
    display: block;
    padding: 5px;
    margin: 0px;
    width: 100vw;
    height: 80vh;
    position: relative;
}

.bannerText{
    position: relative;
    top: 25%;
    z-index: 20;
    text-align: center;
}
